body {
  font-family: "Josefin Sans";
  background-color: #fffafb;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: auto;
  height: 900px;
  margin-top: -330px;
  border-radius: 0 0 0 90px;
}

.search-btn:hover {
  color: #ff2625 !important;
  border: 1px solid #ff2625 !important;
}

@media screen and (max-width: 1200px) {
  .hero-banner-img {
    display: none;
  }
}
